<div class="wait-content">
    <table class="table table-hover">
        <thead class="table-thead">
            <th>
                <input type="checkbox" name="allbox">
            客户信息
            </th>
            <th>消息时间</th>
            <th>上次接待客服</th>
            <th>操作</th>
        </thead>
        <tbody>
        <tr>
            <td style="position:relative;">
                <input type="checkbox" name="allbox">
                <img src="http://wx.qlogo.cn/mmhead/Q3auHgzwzM5KGW9yC3NfXsFEvHmqnveGahss99o1SibHlicBR2fEAAYg/132" class="user-photo">
                <span class="top-text user-name">用户昵称</span>
                <span class="bottom-text massage-contnet">[1条]消息内容</span>
            </td>
            <td style="position:relative;">
                <span class="top-text">16:28:09</span>
                <span class="bottom-text">48小时候过期</span>
            </td>
            <td style="position:relative;">
                <span class="top-text">李强</span>
                <span class="bottom-text">2017-6-13 16:15:32</span>
            </td>
            <td style="position:relative;">
                <span class="top-text btn-access">查看</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>