<div class="wait-content">
    <div class="wait-header">
        <span class="wait-access wait-access-active">留言</span>
    </div>
    <div class="table-wrapper">
        <table class="table table-hover">
            <thead class="table-thead">
                <th>姓名</th>
                <th>时间</th>
                <th>操作</th>
            </thead>
            <tbody>
                <tr >
                    <td>来自李强的留言</td>
                    <td>06-18 12:10:35</td>
                    <td class="lookdetails" >查看</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>