<div class="form-wrapper">
    <h1 style="text-align:center">留言</h1>
    <div class="page">
        <h4 style="margin-bottom:10px">你好，现在是非工作时间</h4>
        <h4>请填写联系方式以及留言，我们稍后给您回复</h4>
        <div class="formgroup">
            <label>姓名</label>
            <input type="text" class="form" >
        </div>
        <div class="formgroup">
            <label>电话</label>
            <input type="text" class="form" maxlength=11 >
        </div>
        <div class="formgroup">
            <label>邮箱</label>
            <input type="email" class="form" >
        </div>
        <div class="formgroup">
            <label>微信</label>
            <input type="text" class="form" >
        </div>
        <div class="formgroup">
            <label>留言</label>
            <textarea type="text" class="text" ></textarea>
        </div>
        <button type="button" class="subbtn btn btn-primary" >提交</button>
    </div>
</div>  