<div class="chatheader">
    <span class="chat_header_name">用户昵称</span>
</div>
<div class="scroll-wrapper">
    <div class="scroll-content">
        <div class="message_box message_box from_self">
            <div class="message_box_time">6月12日 18:45</div>
            <img src="http://wx.qlogo.cn/mmhead/Q3auHgzwzM5KGW9yC3NfXsFEvHmqnveGahss99o1SibHlicBR2fEAAYg/132" class="mssage_box_pic" style="display:inline-block;">
            <div class="message_content">
                <p class="message_content_inner">++++</p>
            </div>
        </div>
    </div>
</div>
<div class="chat_edit">
<!-- <div class="chat_edit_items">表情</div> -->
<!-- <div class="chat_edit_input"> -->
    <textarea class="edit_area" ></textarea>
    <!-- </div> -->
    <div class="chat_edit_footer">按Enter发送</div>
</div>