<div class="wait-content">
  <div class="wait-header">
    <span  class="wait_waited wait-access w_a_active"  >待接入</span>
    <span  class="wait_waited waited-access" >已过期</span>
    <div class="access-btn">接入</div>
  </div>
  <div class="table-wrapper">
    
  </div>
</div>