<div class="wait_list">
    <ul class='conversations'>
        <li class='conversation'>
            <div class="con_pic">
                <img src=<%=headImageUrl%> class="" alt="">
            </div>
            <div class="con_content">
                <div class="chat_content_header">
                    <span class="con_content_nick"><%=wechatName%></span>
                    <span class="con_message_state"><%=messageCount%></span>
                </div>
                <div class="con_content_chat">
                    <p class="con_content_detail">1</p>
                    <span class="con_content_time">6月12日 18:45</span>
                </div>
            </div>
        </li>
    </ul>
    <div class="chat_window"></div>
</div>