<div class="wait_list">
    <ul class='conversations'>
        <li  class='conversation' >
            <div class="con_pic">
                <img src="http://wx.qlogo.cn/mmhead/Q3auHgzwzM5KGW9yC3NfXsFEvHmqnveGahss99o1SibHlicBR2fEAAYg/132" class="" alt="">
            </div>
            <div class="con_content">
                <div class="chat_content_header">
                    <span class="con_content_nick">用户姓名</span>
                    <span class="con_message_state">20</span>
                </div>
                <div class="con_content_chat">
                    <p class="con_content_detail">1</p>
                    <span class="con_content_time">6月12日 18:45</span>
                </div>
            </div>
        </li>
    </ul>
    <div class="chat_window"></div>
</div>
